#logo{
    display: inline-flex;
    margin: 30px;
    width: 150px;
    height: 50px;
}
section a{
    /* float: right; */
    display:flex;
    margin-top:10px;
    gap: 20px;
}
ul{
    display:flex;
    /* margin-top: 60px; */
}

.phone{
    /* display:flex; */
    gap: 10px;
    float: right;
}

.angar{
    color: black;
}
.para{
    margin-left:70px ;
    max-width: 700px;
    text-align: justify;
    justify-content: center;
    display: inline-flex;
}
#product{
    float: right;
    /* padding: 20px; */
    margin-top: -40px;
    color: orange;
    margin-left: -10px;

}
.iframe{
    width: 300px;
    height: 200px;
    float: right;
    margin-bottom: -500px;
    margin-right: -300px;
}
#counterimg{
    width: 250px;
    height: 250px;
    margin: 50px;
    display: inline;
}
#counterimg:hover{
    border-radius: 20px;
    box-shadow: 1px 2px 8px 8px skyblue;
}
.div{
    display:flex;
    gap: 20px;

}
.fake{
    display: inline-flex;
    margin-top: 100px;
    gap: 20px;
    cursor: pointer;
}
.viewmore{
    padding: 10px;
    color: white;
    background-color: blue;
    cursor: pointer;
}
.viewmore:hover{
    background-color: white;
    color: black;
    border: none;
}
.bill{
    display: inline-flex;
    margin-left: 70px;
    gap: 20px;
    cursor: pointer;
}
.button{
    float: left;
}
.scan{
    height: 100px;
    width: 200px;
    float: left;
}
.best{
    
    display: inline-flex;
    margin-top: 100px;
    gap: 20px;
    cursor: pointer;
}
.graph{
    text-decoration: none;
    color: black;
    font-style: italic;
}
.d-block{
    
    width: 50%;
    height: 50%;
}
.bharath{
    /* max-width: 500px; */
    /* padding: 30px; */
    gap: 20px;
    /* max-height: 250px; */
    height:200px;
     width: 500px;
     /* margin: auto;  */
}
 .carousel-item .idm{
    max-height: 250px;
    object-fit: contain;
    margin: auto;
  }
  .product-name{
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
 }
 .logo{
    width: 200px;
    height: 80px;
    float: left;
    margin: 30px;
 }
 .erop{
    margin: 30px;
    max-width: 250px;
 }
 .bottom{
    background-color: black;
    color: white;
    display:flex;
    gap: 40px;
    cursor: default;
 }
 .hh4{
    list-style-type: none;
    gap: 20px;
 }
 .hh5{
    list-style-type: none;
    gap: 20px;
 }
 *{
    text-transform: capitalize;
 }
 /* nav */
 .navbar {
    background-color:transparent;
  }

  .navbar-brand {
    font-weight: bold;
    color: #000;
  }

  .navbar-nav .nav-link {
    color: #000;
    gap: 20px;
  }

  .navbar-nav .nav-link:hover {
    color: #ff6600;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }

  .dropdown-menu {
    margin-top: 100px;
    border: none;
    background-color:transparent;
    box-shadow: none;
  }

  .dropdown-item {
    color: #000;
  }

  .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

